body {
  background-color: #1A2A33;
  font-family: 'Outfit', sans-serif;
}

input, button, submit
{
  border:none;
  background: none;
}

h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  color: #A8BFC9;
}

p {
  margin-top: 17px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.875px;
  color: #A8BFC9;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.App {
  
}

.new-game-cntnr {
  padding: 119px 24px;
}
/* New Game Menu */
.new-game-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 429px;
  width: 328px;
  margin: 0 auto;
}

.logo-cntnr {
  padding-bottom: 32px;
}

.logo {
  height: 32px;
}

.mark-cntnr {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 328px;
  height: 205px;
  background: #1F3641;
  box-shadow: inset 0px -8px 0px #10212A;
  border-radius: 15px;
  margin-bottom: 32px;
}

.mark-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 279px;
  height: 72px;
  background-color: #1A2A33;
  border-radius: 10px;
}

.mark-select-btn {
  height: 54px;
  width: 132px;
  text-align: center;
  border-radius: 10px;
}

.player-choice {
  background-color: #A8BFC9;
}

.game-type-cntnr {

}

.new-game-btn {
  height: 56px;
  width: 100%;
  color: #1A2A33;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 15px;
}

.cpu {
  background-color: #F2B137;
  margin-bottom: 16px;
  box-shadow: inset 0px -8px 0px #CC8B13;
}

.player {
  background-color: #31C3BD;
  box-shadow: inset 0px -8px 0px #118C87;
}

/* Game Board */

/* infobar */
.game-board-cntnr {
  padding: 24px;
}
.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 516px;
  width: 328px;
  margin: 0 auto;
}

.infobar {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.turn-indicator {
  height: 40px;
  width: 96px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1F3641;
  box-shadow: 0px -4px 0px 0px rgba(16, 33, 42, 1) inset;
  border-radius: 5px;
  margin-left: -30px
}

.restart-btn {
  height: 40px;
  width: 40px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  background: rgba(168, 191, 201, 1);
  box-shadow: inset 0px -4px 0px #6B8997;
  border-radius: 5px;
}

/* Board */
.board {
  height: 328px;
  width: 328px;
  margin: 50px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
}

.cell {
  width: 96px;
  height: 96px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #1F3641;
  box-shadow: inset 0px -8px 0px #10212A;
  border-radius: 10px;
  cursor: pointer;
}

/* statbar */
.statbar {
  width: 328px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
}

.sb-card {
  height: 64px;
  width: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.x {
  background: #31C3BD;
}

.ties {
  background: #A8BFC9;
}

.o {
  background: #F2B137;
}

.sb-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.75px;
  color: #1A2A33;
}

.score {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1.25px;
  color: #1A2A33;
}

/* Game Result Modal */
.game-result-modal-cntnr {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5)
}

.game-result-modal {
  position: absolute;
  height: 228px;
  width: 100vw;
  background-color: #1F3641;
  top: 220px;
}