body {
  background-color: #1A2A33;
  font-family: 'Outfit', sans-serif;
}

input, button, submit
{
  border:none;
  background: none;
}

h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  color: #A8BFC9;
}

p {
  margin-top: 17px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.875px;
  color: #A8BFC9;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.App {
  padding: 119px 24px;
}

.new-game-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 429px;
  width: 327px;
  margin: 0 auto;
}

.logo-cntnr {
  padding-bottom: 32px;
}

.logo {
  height: 32px;
}

.mark-cntnr {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 327px;
  height: 205px;
  background: #1F3641;
  box-shadow: inset 0px -8px 0px #10212A;
  border-radius: 15px;
  margin-bottom: 32px;
}

.mark-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 279px;
  height: 72px;
  background-color: #1A2A33;
  border-radius: 10px;
}

.mark-select-btn {
  height: 54px;
  width: 132px;
  text-align: center;
  border-radius: 10px;
}

.player-choice {
  background-color: #A8BFC9;
}

.game-type-cntnr {

}

.new-game-btn {
  height: 56px;
  width: 100%;
  color: #1A2A33;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 15px;
}

.cpu {
  background-color: #F2B137;
  margin-bottom: 16px;
  box-shadow: inset 0px -8px 0px #CC8B13;
}

.player {
  background-color: #31C3BD;
  box-shadow: inset 0px -8px 0px #118C87;
}